# 6 数据读取

## 6.1 csv文件读取

In [1]:
import pandas as pd 
path = "dataset/advertising.csv" 
data = pd.read_csv(path)   
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
5      8.7   48.9       75.0    7.2
6     57.5   32.8       23.5   11.8
7    120.2   19.6       11.6   13.2
8      8.6    2.1        1.0    4.8
9    199.8    2.6       21.2   15.6
10    66.1    5.8       24.2   12.6
11   214.7   24.0        4.0   17.4
12    23.8   35.1       65.9    9.2
13    97.5    7.6        7.2   13.7
14   204.1   32.9       46.0   19.0
15   195.4   47.7       52.9   22.4
16    67.8   36.6      114.0   12.5
17   281.4   39.6       55.8   24.4
18    69.2   20.5       18.3   11.3
19   147.3   23.9       19.1   14.6
20   218.4   27.7       53.4   18.0
21   237.4    5.1       23.5   17.5
22    13.2   15.9       49.6    5.6
23   228.3   16.9       26.2   20.5
24    62.3   12.6       18.3    9.7
25   262.9    3.5       19.5   17.0
26   142.9   29.3       12.6   15.0
27   240.1   16.7       22.9   20.9
28   248.8   27.1       22.9   18.9
29    70.6   16.0       40.8   10.5
..     ...    ...        ...    ...
170   50.0   11.6       18.4    8.4
171  164.5   20.9       47.4   17.5
172   19.6   20.1       17.0    7.6
173  168.4    7.1       12.8   16.7
174  222.4    3.4       13.1   16.5
175  276.9   48.9       41.8   27.0
176  248.4   30.2       20.3   20.2
177  170.2    7.8       35.2   16.7
178  276.7    2.3       23.7   16.8
179  165.6   10.0       17.6   17.6
180  156.6    2.6        8.3   15.5
181  218.5    5.4       27.4   17.2
182   56.2    5.7       29.7    8.7
183  287.6   43.0       71.8   26.2
184  253.8   21.3       30.0   17.6
185  205.0   45.1       19.6   22.6
186  139.5    2.1       26.6   10.3
187  191.1   28.7       18.2   17.3
188  286.0   13.9        3.7   20.9
189   18.7   12.1       23.4    6.7
190   39.5   41.1        5.8   10.8
191   75.5   10.8        6.0   11.9
192   17.2    4.1       31.6    5.9
193  166.8   42.0        3.6   19.6
194  149.7   35.6        6.0   17.3
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
data.head(10)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   15.6

### 读取文件

In [ ]:
import pandas as pd   
path = "dataset/advertising.csv"   
head = ["电视", "广播","新闻","销售"]  
# 读取  
data = pd.read_csv(path, sep=',', header=0, names=head)   
data

### 显示前5条数据

In [ ]:
data.head()

### 保存文件

In [ ]:
path = "dataset/new_advertising.csv" 
data.to_csv(path, sep='\t', float_format='%.2f', header=0, index=0)

In [ ]:
path = "dataset/new_advertising.txt" 
data.to_csv(path, sep=' ', float_format='%.f', header=0, index=0)

## 6.2 json读取

### 基本json读取

In [ ]:
import pandas as pd
path = "dataset/advertising.json"
data = pd.read_json(path)
data

### 各种形式的json读取

In [ ]:
json1 = '{"index":["0","1","2"],"columns":["TV","Radio","Newspaper","Sales"],"data":[[230.1,37.8,69.2,22.1],[44.5,39.3,45.1,10.4],[17.2,45.9,69.3,12.0]]}'
data = pd.read_json(json1, orient='split')
data

In [ ]:
json2 = '[{"TV":230.1,"Radio":37.8,"Newspaper":69.2,"Sales":22.1},{"TV":44.5,"Radio":39.3,"Newspaper":45.1,"Sales":10.4},{"TV":17.2,"Radio":45.9,"Newspaper":69.3,"Sales":12.0}]'
data = pd.read_json(json2, orient='records')
data

In [ ]:
json3 = '{"0":{"TV":230.1,"Radio":37.8,"Newspaper":69.2,"Sales":22.1},"1":{"TV":44.5,"Radio":39.3,"Newspaper":45.1,"Sales":10.4},"2":{"TV":17.2,"Radio":45.9,"Newspaper":69.3,"Sales":12.0}}'
data = pd.read_json(json3, orient='index')
data

In [ ]:
json4 = '{"TV":{"0":230.1,"1":44.5,"2":17.2},"Radio":{"0":37.8,"1":39.3,"2":45.9},"Newspaper":{"0":69.2,"1":45.1,"2":69.3},"Sales":{"0":22.1,"1":10.4,"2":12.0}}'
data = pd.read_json(json4, orient='columns')
data

In [ ]:
json5 = '{"TV": 230.1,"Radio":37.8,"Newspaper":69.2,"Sales":22.1},{"TV": 44.5,"Radio":39.3,"Newspaper":45.1,"Sales":10.4},{"TV": 17.2,"Radio":45.9,"Newspaper":69.3,"Sales":12.0}'
data = pd.read_json(json5,lines=True,encoding='utf-8')
data

### 保存json

In [ ]:
data.to_json('dataset/advertising.json')

## 6.3 数据库读取

### 数据库初始化

In [ ]:
# 导入必要模块
import pandas as pd
from sqlalchemy import create_engine
 
# 初始化数据库连接，使用pymysql模块
engine = create_engine('mysql+pymysql://feature:jiahao@162.105.23.3:3306/jupyter')
 
# 读取本地CSV文件
df = pd.read_csv("dataset/advertising.csv", sep=',')
 
# 将新建的DataFrame储存为MySQL中的数据表，不储存index列
df.to_sql('advertising', engine,if_exists='replace', index= False)
pd.read_sql_table("advertising",engine).head()

### 建立数据库连接

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://feature:jiahao@162.105.23.3:3306/jupyter')
sql = ' select * from advertising; '
df = pd.read_sql_query(sql, engine)
df.head()

### 执行sql语句

In [ ]:
sql = ' select TV from advertising; '
df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
sql_insert = ' insert into advertising (TV,Radio,Newspaper,Sales) values (1.0,1.0,1.0,1.0); '
engine.execute(sql)

In [ ]:
sql = 'update advertising set Sales=22.6 where TV=230.1'
engine.execute(sql)

In [ ]:
sql = 'delete from advertising where TV=1'
engine.execute(sql)

## 6.4 txt文件读取

### 读取txt

In [ ]:
f = open('dataset/advertising.txt','r',encoding='utf-8') 
f.read()
f.close()

### 逐行读取

In [ ]:
f = open('dataset/advertising.txt','r',encoding='utf-8') 
line = f.readline()
while line:
    print(line)
    line =f.readline()
f.close()

In [ ]:
f = open('dataset/advertising.txt','r',encoding='utf-8') 
for line in f.readlines():    
    line = line.strip()       
    print(line)
f.close()

### 读取txt，不需要关闭

In [ ]:
with open('dataset/advertising.txt','r') as f:
    f.read()
f.close()

### 字符分割

In [ ]:
f = open('dataset/advertising.txt','r',encoding='utf-8') 
l = f.readline()
print(l.split())     # 以空格为分隔符，包括\n
print(l.split(' ', 1 ))    # 以空格为分隔符，进行一次分割

### 写入txt

In [ ]:
f = open('dataset/advertising.txt','a',encoding='utf-8') 
f.write('\n199.80 2.60 21.20 15.60')
f.close()